header { text-align: center;}

 h6 { border-top: 1px solid rgb(243, 214, 52);
    padding-top: 15px ;
    
     
    
}

main {width: 50%; margin-left: auto; margin-right: auto ;}

.titleone , .titleone {

   text-align: center; 
   font-size: 30px;
}

h1 {
     
    font-family: "Roboto", sans-serif; 
}
  
div.margin p { margin: 0 ;
    padding-left: 15px;
    border-left: 1px solid yellow;
    
    
 }

 p.roboco { font-family: "Roboto Condensed", sans-serif;}
 p.mary { font-family: "Merriweather", serif; }


h3.ingredients {

    padding-bottom: 15px;

    border-bottom: solid 1px rgb(45, 45, 238);
}
  .liste { 
    display: inline-block;
text-align: right;}
.strong {
    font-family: "Signika Negative", sans-serif;

}

 .finish {
    padding-top: 10px;
    border-top: 1px solid rgb(45, 45, 238);
}